PORT=4006
NODE_ENV=development

DB_HOST=payments-db
DB_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=paymentsdb

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUE=payments_queue
RABBITMQ_QUEUE_EVENTS_PAYMENTS=events.payments

CLIENT_URL=http://localhost:3000

STRIPE_SECRET=your_stripe_secret_key

REDIS_HOST=redis
REDIS_PORT=6379